/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    background:#043f5a;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*scroll////////////////////////////*/
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #f77462;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #1397cf;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}
/*----start-header----*/
.wrapper{
	padding:3em 0;
}
.header_top{
	background:#fff;
	padding:1.5em;
	border-radius: 5px 5px 0px 0px;
}
.logo{
	float:left;
	margin-top:5px;
}
.menu{
	 float:right;
	 margin-top: 9px;
}
.menu li{
	display:inline-block;
}
 .menu li:first-child{
   	margin-left:0;
}
.menu li a{
  	display: block;
	font-size:1.1em;
	color:#787878;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	
}

#scrollUp {
    bottom: 0px;
    right: 10px;
    width: 70px;
    height: 40px;
    padding: 10px 5px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: #aa6f93;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b5799e), color-stop(85%, #b5799e), to(#81476b));
    background-image: -webkit-linear-gradient(#b5799e, #b5799e 85%, #81476b);
    background-image: -moz-linear-gradient(top, #b5799e, #b5799e 85%, #81476b);
    background-image: -o-linear-gradient(#b5799e, #b5799e 85%, #81476b);
    background-image: linear-gradient(#b5799e, #b5799e 85%, #81476b);
    background-repeat: no-repeat;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -webkit-transition: bottom 150ms linear;
    -moz-transition: bottom 150ms linear;
    transition: bottom 150ms linear; }

#nav .current a {
   color:#fff;
   background:#f77462;
   -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-radius:5px;
}
.menu li a:hover ,.menu li.active a{
   color:#fff;
   background:#f77462 !important;
   border-radius:5px;
} 
.toggleMenu {
	display:  none;
   	padding:4px 5px 0px 5px;
    border-radius:2em; 
    -webkit-border-radius:2em;
    -moz-border-radius:2em;
    -o-border-radius:2em; 
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
}
@media screen and (max-width:800px) {
	.menu {
		margin:10px 0;
	}
    .active {
        display: block;
    }
    .menu li a{
    	text-align:left;
    	border-radius:0;
    	-webkit-border-radius:0;
    	-moz-border-radius:0;
    	-o-border-radius:0;
    }
    .nav {
	    list-style: none;
		width: 95%;
		position: absolute;
		right: 10px;
		background: #051619;
		top: 110px;
		z-index: 9999;
		border: 1px solid #E0E0E0;
    }
   .menu li a span.messages{
    	text-align:center;
    	top:15px;
    }
    .nav li ul{
    	width:100%;   	
    }
    .menu ul{
    	margin:0;
    }
    .nav > li.hover > ul {
        width:100%;
    }
    .nav > li {
        float: none;
        display:block;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
    .nav li a{
    	border-top:1px solid #e0e0e0;
    	background:#fff;
    }
     .nav li:first-child a{
     	border-top:none;
     }
 }
.banner{
	background: #e7e7e7;
	background: -moz-linear-gradient(top,  #97d9ff 0%, #ffffff  70%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97d9ff), color-stop(44%,#97d9ff), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #97d9ff 0%,#9ffffff  70%,#ffffff 100%);
	background: -o-linear-gradient(top,  #97d9ff 0%,#ffffff  70%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #97d9ff 0%,#ffffff  70%,#ffffff 100%);
	background: linear-gradient(to bottom,  #97d9ff 0%,#ffffff  70%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97d9ff', endColorstr='#ffffff',GradientType=0 );
	padding:2em 5em 0;
}

.banner_samll{
	background: #e7e7e7;
	background: -moz-linear-gradient(top,  #97d9ff -93%, #ffffff  70%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(-93%,#97d9ff), color-stop(44%,#97d9ff), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #97d9ff -93%,#9ffffff  70%,#ffffff 100%);
	background: -o-linear-gradient(top,  #97d9ff -93%,#ffffff  70%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #97d9ff -93%,#ffffff  70%,#ffffff 100%);
	background: linear-gradient(to bottom,  #97d9ff -93%,#ffffff  70%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97d9ff', endColorstr='#ffffff',GradientType=0 );
	padding:2em 2em 0;
} 
.banner_left {
	margin-right:10em;
}
.banner_left span {
	width:430px;
	height:366px;
	display: block;
	background: url(../images/phone.png) no-repeat;
}
.banner_right{
	margin-top:3em;
}
.banner_right h1{
	font-size: 3em;
	text-transform: uppercase;
	color: #104954;
	font-weight: 500;
}
.banner_right h2{
	font-size:1.8em;
	line-height: 0.5em;
	color: #104954;
	font-weight: 500;
	margin-bottom:1.2em;
}
.banner_right p{
	font-size:1em;
	color:#656565;
	font-weight: 500;
}
.banner_btn {
	display: inline-block;
	padding: 12px 30px;
	font-size: 1.1em;
	cursor: pointer;
	border: none;
	background: #f77462;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	border-radius: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-o-transition: all 0.3s;
	font-weight: 400;
	margin-top:2em;
}
.banner_btn:hover {
	text-decoration:none;
	color:#fff;
	background:#6dc5dd;
}
/*--content--*/
.content_top{
	background: linear-gradient(to bottom, #ffffff 40%, #f8f8f8 59%, #f8f8f8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #e0e0e0;
    border-top: 2px solid #abe6ff;
    box-shadow: -10px -4px 37px rgba(134, 134, 134, 0.2);
    padding: 3em 2em 4em;
}
i.flag{
	width: 85px;
	height: 85px;
	background: url(../images/img-sprite.png)no-repeat -9px -6px;
	float: left;
	margin-right:1em;
}

i.flag_small{
	width: 59px;
	height: 85px;
	background: url(../images/img-sprite_small.png)no-repeat -9px -6px;
	float: left;
	margin-right:1em;
}
i.camera{
	width: 94px;
	height: 85px;
	background: url(../images/img-sprite.png)no-repeat -95px -6px;
	float: left;
	margin-right:1em;
}
i.home{
	width: 85px;
	height: 94px;
	background: url(../images/img-sprite.png)no-repeat -187px -6px;
	float: left;
	margin-right:1em;
}
.flag_desc h3{
	margin-bottom:0.4em;
}
.flag_desc h3 a{
	color:#1c4875;
	font-size:0.85em;
	font-weight:bold;
}
.flag_desc h3 a:hover{
	text-decoration:none;
	color:#f77462;
}
div.flag_desc {
	float: left;
	width:68.22%;
	margin-top: 0.5em;
}
.flag_desc p{
	color:#949596;
	font-size:0.85em;
	line-height:1.8em;
	margin-bottom: 1.5em;
}
.link {
	background: url(../images/arrow.png) no-repeat 100% 1px;
	display: inline-block;
	padding: 0 25px 0 0;
	line-height: 19px;
	font-size: 1em;
	font-style: normal;
	text-decoration: none;
	color: #235880;
	font-weight: 700;
}
.link:hover{
	text-decoration:none;
	color: #f77462;
}
.content_middle{
	background:#fff;
	padding:4em 2em;
}
.middle_grid{
	margin-bottom:3em;
}
ul.test_box {
	padding: 0;
	list-style: none;
}
ul.test_box li.test_img {
	float: left;
	width:24%;
	margin-right:2em;
}
ul.test_box li.test_desc {
	float: left;
	width:71%;
}
ul.test_box li.test_desc h4 a {
	font-size: 1.1em;
	font-weight: bold;
	color:#104954;
	text-decoration: none;
}
ul.test_box li.test_desc h4 a:hover {
	color:#f77462;
}
ul.test_box li.test_desc p {
	color: #787878;
	font-size: 1.1em;
	line-height: 1.8em;
}
.content_btn {
	display: inline-block;
	padding: 8px 20px;
	font-size: 1em;
	cursor: pointer;
	border: none;
	background: #f77462;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-o-transition: all 0.3s;
	font-weight: 400;
}
.content_btn:hover{
	background: #6dc5dd;
	text-decoration:none;
	color:#fff;
}
/******** SAP ************/
.sap_tabs{
	clear:both;
	
}
.tab_box{
	background:#fff;
	padding: 1em;
	border-radius:4px;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
	width: 100%;
	list-style: none;
	padding: 0;
}
.resp-tab-item:first-child{
	border-left:none;
}
.resp-tab-item{
	border: 1px solid #eaeaea;
	color: #656565;
	font-size: 1em;
	background: #f2f2f2;
	cursor: pointer;
	padding: 12px 10px;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	float: left;
	width: 33.3333%;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-weight: bold;
	border-radius:4px;
}
.resp-tab-item:hover {
	text-shadow: none;
	color: #F27141;
}
.resp-tab-active{
	background:#1397cf;
	text-shadow: none;
	color:#fff;
	border-radius:4px;
}
.resp-tabs-container {
	padding: 0px;
	background:linear-gradient(to bottom, #e7e7e7 0%, #f8f8f8 44%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	clear: left;
	border:solid 1px #e2e2e2;
	border-radius:4px;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
h2.resp-accordion {
	font-size:1em;
	margin: 0px;
	padding: 10px 15px;
	background:#f77462;
	margin:10px 0;
	color:#fff;
}
h2.resp-accordion:hover{
	background:#6CC5D9;
	text-shadow: none;
	color: #FFF;
}
@media only screen and (max-width:480px) {
	.sap_tabs{
		padding-top:0;
	}
	.resp-tabs-container{
		padding:10px;
	}
ul.resp-tabs-list {
  	display: none;
}
h2.resp-accordion {
  	display: block;
}
.resp-vtabs .resp-tab-content {
  	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
.facts h4 a{
	color:#4f709c;
	text-decoration: none;
	font-weight: 600;
	font-size: 1.2em;
}
.facts h4 a:hover{
	color: #f77462;
}
.facts p{
	color: #666;
	font-size: 0.95em;
	line-height: 1.8em;
}
ul.tab_list{
	list-style: none;
	padding: 2em 2em 1em;
}
ul.tab_list li {
	list-style-image: url(../images/tab_arrow.png);
	margin: 0 22px 10px;
}
ul.tab_list li a {
	color: #888;
	font-size: 0.95em;
	line-height: 1.3em;
	vertical-align: top;
	text-decoration: none;
}
ul.tab_list li a:hover {
	color:#333;
}
.section_aligncenter{
	text-align:center;
	padding:4em 0;
	background:#f77462;
}
.section_aligncenter h3{
	color: #fff;
	font-size: 2em;
	font-weight: 700;
}
.section_aligncenter p{
	width: 65%;
	margin: 0 auto;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.5em;
}
.content_bottom{
	background:#fff;
	padding:2em 2em;
}
.content_bottom h3{
	text-align:center;
	color:#104954;
	font-size: 2em;
	font-weight: 700;
	margin-bottom:0.8em;
}
p.m_1{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 0.5em 0;
	text-align: center;
	font-size: 1.4em;

	color:#1c4875;
	margin-bottom: 2em;
}
ul.project_box {
	padding: 0;
	list-style: none;
	margin-bottom: 2em;
}
ul.project_box li.mini-post-meta {
	display: block;
	float: left;
	width: 70px;
	background:#6dc5dd;
	text-align: center;
	margin: 3px 30px 0 0;
	position: relative;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}
ul.project_box li.mini-post-meta span.day {
	font-size: 35px;
	color: #fff;
	padding: 5px 0;
	display: block;
	line-height: 1em;
	font-weight: bold;
	border-bottom: 1px solid #fff;
}
ul.project_box li.mini-post-meta span.month {
	font-size:15px;
	color: #fff;
	line-height: 2em;
	font-weight: bold;
}
ul.project_box li.desc {
	overflow: hidden;
}
ul.project_box li.desc h5{
	margin-bottom:2px;
}
ul.project_box li.desc h5 a {
	color: #104954;
	font-size: 1.2em;
	font-weight: bold;
}
ul.project_box li.desc p {
	color: #787878;
	font-size: 1em;
	margin-top: 0.7em;
	line-height: 1.8em;
}
.top_grid{
	margin-bottom:2em;
}
span.comment{
	color:#f77462;
	font-size:0.95em;
}
ul.comment_section{
	padding:1em;
	list-style:none;
	background:linear-gradient(to bottom, #ffffff 40%, #f8f8f8 59%, #f8f8f8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 5px 5px 5px 5px;
	
}
ul.comment_section li.comment_desc {
	float: left;
	width: 74.666%;
}
ul.comment_section li.comment_desc p{
	color:#555;
	font-size:0.95em;
	line-height:1.8em;
	margin-bottom:-10px;
}
i.comment {
	width: 120px;
	height: 120px;
	background: url(../images/img-sprite.png)no-repeat -10px -92px;
	float: right;
}
span.m_2 a{
	font-size:1em;
	font-weight:bold;
	color:#f77462;
}
/*--footer--*/
.footer{
	background:#1397cf;
	padding:0 2em;
	border-radius: 0 0 5px 5px ;
	
}
.footer_top{
	padding:3em 0;
}
h3.m_4{
	color:#fff;
	font-size:1.3em;
	font-weight:bold;
}
ul.list{
	padding:0;
	list-style:none;
}
ul.list li a{
	color:#fff;
	font-size:0.95em;
	line-height:1.8em;
}
ul.list li a:hover{
	background:
}
.footer_bottom {
	border-top: 1px solid #A7D7E4;
	padding: 2em 0;
}
.copy{
	float:left;
	margin-top: 5px;
}
.copy p{
	color:#fff;
	font-size:0.8em;
}
.copy p a{
	color:#DFF8FF;
}
ul.social{
	padding:0;
	list-style:none;
	float:right;
}
ul.social li:first-child {
	margin-left: 0;
}
ul.social li {
	display: inline-block;
	margin-left: 5px;
}
ul.social li a {
	display: block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
ul.social li a i {
	width:32px;
	height:32px;
	display: block;
	background: url(../images/img-sprite.png)#fff no-repeat;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-o-border-radius: 1em;
}
ul.social li a i:hover{
	opacity:0.8;
}
ul.social li a i.fb{
	background-position:-151px -116px;
}
ul.social li a i.tw{
	background-position:-197px -118px;
}
/*--about--*/
h1.title-header {
	background: #f77462;
	display: -webkit-inline-box;
	color: #fff;
	font-size: 1.5em;
	text-transform: uppercase;
	padding: 0.4em 5em 0.4em 1em;
}
.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
	background:none;
	font-size:0.85em;
}
h3.m_2 {
	font-size: 1.7em;
	font-weight: bold;
	color:#fff;
	margin-bottom: 1em;
}
ul.about_grid1.about_box {
	padding: 0;
	list-style: none;
}
ul.about_grid1 li.about_img {
	float: left;
	width:50.333%;
	margin-right: 1.5em;
}
ul.about_grid1 li.about_desc {
	float: none;
	width: 100%;
}
ul.about_grid1 li.about_desc h5{
	margin-bottom:1em;
}
ul.about_grid1 li.about_desc h5 a {
	color: #fff;
	font-size: 1.2em;
	text-transform: uppercase;
	line-height: 1.5em;
}
p.first_desc, p.last{
	color:#fff;
	font-size: 0.85em;
	line-height: 1.5em;
	margin-bottom: 2em;
}
p.last{
	margin-bottom:0;
}
div.list.custom-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
div.list.custom-list ul li:first-child {
	margin: 0;
}
div.list.custom-list ul li {
	width: 100%;
	overflow: hidden;
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
}
.dropcap {
	text-align: left;
}
.dropcap {
	position: relative;
	display: block;
	float: left;
	overflow: hidden;
	width: 50px;
	height: 50px;
	background: #6ECCE6;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	line-height:45px;
	margin-right: 0.5em;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
}
div.list.custom-list ul li h5 a {
	display: block;
	margin: 0 0 1px 0;
	line-height: 21px;
	font-size: 17px;
	font-weight: 400;
	color:#fff;
}
div.list.custom-list ul li p{
	display: block;
	overflow: hidden;
	font-style: normal;
	font-size: 0.85em;
	line-height: 1.8em;
	color:#fff;
}
/*--services--*/
.services_top{
	padding:3em 2em;
	background: #6dc5dd
}
.col_1_of_portfolio:first-child {
	margin-left: 0;
}
.col_1_of_portfolio{
	display: block;
	float: left;
	margin: 1% 0 1% 2.6%;
}
.span_1_of_portfolio{
	width:31.6%;
}
.view-first h3{
	color: #555;
	padding: 1em 0;
	margin-bottom: 0;
	font-size: 1em;
	text-transform: uppercase;
}
.view {
   /*--width:290px;
   height:350px;--*/
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}
.view .mask,.view .content {
  width: 349px;
	height: 235px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}
.view img {
   display: block;
   position: relative;
}
.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   margin-top: 5em;
   color: #fff;
   text-transform: uppercase;
 }
.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color:rgba(98, 187, 247, 0.29);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.view-first h2 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first p {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}
.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.span_1_of_projects img{
	display:block;
}
/*--services-*/
blockquote {
	background: url(../images/quotes.png) 0 0 no-repeat;
	padding: 10px 0 0 10px;
	margin: 0;
	border-left: none;
}
blockquote small {
	color:#fff;
	font-size:0.85em;
	line-height: 24px;
	margin-bottom: 6px;
}
blockquote p {
	margin-bottom: 0;
	font-size:0.85em;
	line-height:1.8;
	color:#fff;
}
.quotation{
	margin-bottom:2em;
}
/*--contact--*/
.contact{
	background:#fff;
	padding:0 2em 0;
	border-top: 1px solid #eee;
} 
.contact_top {
	margin-top: 2em;
}
.contact_top h3 {
	font-size: 1.5em;
	font-weight: bold;
	color:#104954;
	margin-bottom: 1em;
}
.contact_top p {
	font-size: 0.85em;
	line-height: 1.8em;
	color:#656565;
	margin: 1em 0 3em;
}
.contact-to input[type="text"] {
	padding: 10px 10px;
	width:32%;
	margin: 10px 0;
	border: 1px solid #E1E2E2;
	color: #656565;
	background: #FFF;
	float: left;
	outline: none;
	font-size: 0.85em;
	border-radius:4px;
}
.text2 input[type="text"], .text2 textarea {
	width: 98%;
	margin: 10px 0;
	border: 1px solid #E1E2E2;
	color: #656565;
	outline: none;
	margin-bottom: 25px;
	height: 150px;
	padding: 10px 10px;
	font-size: 0.85em;
	resize: none;
	border-radius:4px;
}


.contact-list ul{
	padding:0;
	list-style:none;
}
.contact-list ul li p{
	margin-bottom:1em;
}
.map iframe {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 300px;
	border: none;
	line-height: 0;
	overflow: hidden;
	padding:3em 0;
}
i.address{
	width: 20px;
	height: 30px;
	background: url(../images/img-sprite.png) no-repeat -252px -118px;
	float: left;
	margin-right: 1em;
}
i.phone{
	width: 20px;
	height: 30px;
	background: url(../images/img-sprite.png) no-repeat -30px -223px;
	float: left;
	margin-right: 1em;
}
i.msg{
	width: 20px;
	height: 30px;
	background: url(../images/img-sprite.png) no-repeat -70px -223px;
	float: left;
	margin-right: 1em;
}
.contact_btn input[type="submit"]{
	color: #FFF;
	font-size:1em;
	font-weight: normal;
	padding: 10px 30px;
	margin-right:22px;
	background:#6dc5dd;
	float: right;
	display: inline-block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border:none;
	outline:none;
	cursor:pointer;
	border-radius:4px;
}
.contact_btn input[type="submit"]:hover{
	background: #f77462;
	text-decoration:none;
	color:#fff;
}
/*--responsive design--*/
@media (max-width:1366px){
}
@media (max-width:1280px){
}
@media (max-width:1024px){
.cssmenu {
	width: 52.5%;
}
.banner_left span {
	width:410px;
	height:293px;
	background-size:84%;
}
.banner_left {
	margin-right:8em;
}
.banner_right h1 {
	font-size: 2.5em;
}
.banner_right h2 {
	font-size: 1.5em;
	margin-bottom: 1em;
}
.banner_right p {
	font-size: 0.85em;
}
.banner_btn {
	padding: 10px 20px;
	font-size: 1em;
	margin-top: 1.5em;
}
.banner_right {
	margin-top: 2em;
}
div.flag_desc {
	width: 65.22%;
}
.flag_desc h3 {
	margin-bottom: 0.5em;
}
i.flag, i.camera, i.home{
	margin-right: 0.5em;
}
ul.test_box li.test_desc {
	width: 70%;
}
ul.comment_section li.comment_desc {
	width: 67.666%;
}
ul.tab_list {
	padding: 2em 1em 1em;
	margin-left: 10px;
}
ul.comment_section {
	padding: 1em;
	
	
}
.gallery li {
	width:32.15%;
}
.wrapper {
	padding: 1em 0;
}
.view .mask, .view .content {
	width: 286px;
	height: 192px;
}
.info {
	padding:0;
	margin-top: 4em;
}
}
@media (max-width:800px){
.header_top {
	padding: 1em;
}
.cssmenu {
	width: 58.5%;
}
.banner_right {
	text-align: center;
	margin: 2em 0;
}
.banner_left{
	text-align:center;
	margin:0; 
}
.banner_left span {
	display: inline-table;
}
.sap_tabs {
	margin-top: 3em;
}
.footer_grid {
	margin-bottom: 2em;
}
.footer_top {
	text-align: center;
}
p.m_1 {
	font-size: 1.2em;
}
.about_left {
	margin-bottom: 2em;
}
.gallery li {
	width:31%;
}
.flag_grid {
	margin-bottom: 1.5em;
}
.flag_desc p {
	margin-bottom: 1em;
}
.view-first h3 {
	font-size: 0.85em;
}
.view .mask, .view .content {
	width: 217px;
	height: 145px;
}
.info {
	padding: 0;
	margin-top: 2.5em;
}
}
@media (max-width:768px){
	.wrapper{
		padding:0;
	}
}
@media (max-width:640px){
.nav {
	top: 93px;
}
.view .mask, .view .content {
	width: 177px;
	height: 120px;
}
.info {
	padding: 0;
	margin-top: 2em;
}
}
@media (max-width:480px){
.banner_right {
	display: none;
}
.col_1_of_portfolio {
	float:none;
	margin:0;
}
.view .mask, .view .content {
	width: 364px;
	height: 237px;
}
.span_1_of_portfolio {
	width: 100%;
}
.info {
	padding: 0;
	margin-top: 5em;
}
.banner_left span {
	width: 300px;
	height: 215px;
}
ul.test_box li.test_img {
	margin-right: 1em;
}
div.flag_desc {
	width: 75.22%;
}
ul.comment_section li.comment_desc {
	width: 66.666%;
}
.banner {
	padding: 2em 2em 0;
}
.gallery li {
	width: 27.555%;
}
.contact-to input[type="text"] {
	width: 31.5%;
}
}
@media (max-width:320px){
.banner_left span {
	width: 250px;
	height: 180px;
}
.content_top {
	padding:2em 1em 3em;
	
}
div.flag_desc {
	width: 66.22%;
}
.flag_desc h3 a {
	font-size: 19px;
}
.content_middle {
	padding:3em 1em;
}
ul.test_box li.test_desc p {
	font-size: 0.8125em;
}
ul.tab_list {
	padding: 2em 0.5em 1em;
	margin-left: 10px;
}
.header_top {
	padding: 0.5em;
}
.content_btn {
	padding: 7px 20px;
	font-size: 0.85em;
}
.facts h4 a {
	font-size: 1.1em;
	
}
.section_aligncenter p {
	width: 92%;
	font-size:1em;
}
.content_bottom h3 {
	font-size: 1.5em;
}
.content_bottom {
	padding: 3em 1em;
}
ul.tab_list li a {
	font-size:0.8125em;
}
ul.comment_section li.comment_desc {
	width: 49.666%;
}
.copy {
	float: none;
}
.tab_box {
	padding: 1em;
}
.section_aligncenter {
	padding: 3em 0;
}
.section_aligncenter h3 {
	font-size: 1.7em;
}
ul.social {
	float: none;
	margin-top: 1em;
}
ul.list li a {
	line-height: 1.5em;
}
.footer_bottom {
	padding: 1em 0;
	text-align:center;
}
.footer_top {
	padding: 2em 0;
}
h3.m_4 {
	margin-bottom: 5px;
}
.footer_grid {
	margin-bottom: 1em;
}
p.m_1 {
	font-size: 1em;
}
.nav {
	top: 77px;
}
h1.title-header {
	font-size: 1.2em;
}
.services_top {
	padding: 2em 1em 0em;
}
.gallery li {
	margin: 0 5px 0 0;
	width: 31.555%;
}
.view-first h3 {
	font-size: 10px;
}
.contact {
	padding: 0 1em 0;
}
.contact_top h3 {
	margin-bottom:0;
}
.contact-to input[type="text"] {
	width: 98.5%;
	margin-left: 0 !important;
}
.view .mask, .view .content {
	width: 270px;
	height: 180px;
}
.info {
	padding: 0;
	margin-top: 3em;
}
}



/*Agregadas*/


@media (min-width: 768px) {
  .linea{
    width: 750px;
	background: none repeat scroll 0 0 #1397cf;
  }
}
@media (min-width: 992px) {
  .linea {
    width: 970px;
	background: none repeat scroll 0 0 #1397cf;
  }
}
@media (min-width: 1200px) {
  .linea {
    width: 1170px;
	background: none repeat scroll 0 0 #1397cf;
  }
  
  
  
#subject
{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e1e2e2;
    border-radius: 4px;
    color: #656565;
    float: left;
    font-size: 0.85em;
    margin: 10px 0;
	height:41px;
    outline: medium none;
	margin-right:20px;
    width: 32%;
  }
  
#control-recorridos {
  z-index: 10000;
  position: absolute;
  right: 10px;
  top: 10px;
}
#control-recorridos button {
    display: none;
}
